@page "/events"

@using System.ComponentModel;
@using Iot.PnpDashboard.Pages.Components
@using Iot.PnpDashboard.Events;

<PageTitle>IoT Hub Events</PageTitle>



<h1>Events from IoT Hub</h1>

<table class="table">
    <tr style="vertical-align:top;">
        <td><DeviceIdsList OnSelectedIdsChange="@SelectedIdsChanged"/></td>
        <td><EventList @ref="_eventList" /></td>
    </tr>
</table>

@code {
    EventList? _eventList;

    private async Task SelectedIdsChanged(List<string>? ids)
    {
        if (_eventList !=null && ids != null)
        {
            await _eventList.UpdateSubscriptionsAsync(ids);
        }
        //StateHasChanged();
    }
}
