@inherits LayoutComponentBase

@using Iot.PnpDashboard.Configuration;
@inject AppConfiguration AppConfiguration


<PageTitle>IoT.Consumer.WebSite</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row-left px-4">
            Connected to @(AppConfiguration.IotHubHostName)
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
