@page "/device/{deviceId?}"

@using System.ComponentModel;
@using Iot.PnpDashboard.Pages.Components;

<PageTitle>Device Info</PageTitle>

<h1>@DeviceId</h1>

<DeviceDetail DeviceId="@DeviceId" />

@code{
    [Parameter]
    public string? DeviceId { get; set; } 
}